-i https://pypi.org/simple/
attrs==19.3.0
more-itertools==8.0.2
packaging==20.0
pillow==6.2.1
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.1
python-dateutil==2.8.1
pyyaml==5.3
send2trash==1.5.0
six==1.13.0
wcwidth==0.1.8
